/* Squares.js Styles */

.squares {
  background: #000;
  border: none;
  font-size: 5rem;
  font-weight: 800;
  cursor: pointer;
  outline: none;
  overflow-y: hidden;
}

.squares:hover {
  background-color: #3333;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

@media screen and (max-width: 420px) {
  .squares {
    font-size: 3rem;
  }
}
